build --workspace_status_command=$(pwd)/stamp.sh
build --features=external_include_paths
build --features=layering_check

build --cxxopt=-std=c++23 --cxxopt=-fno-exceptions
build --host_cxxopt=-std=c++23 --host_cxxopt=-fno-exceptions

build --per_file_copt=//.*@-Wall --per_file_copt=external/.*@-w
build --host_per_file_copt=//.*@-Wall --host_per_file_copt=external/.*@-w
